/* Base element styles */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    background: white;

}
/* Link Styles */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #FF00FF;
}

/* Section Styles */

.main-nav {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  color: black;
}

.nav li {
  padding: 10px 10px 10px 10px;
  margin: 5px 5px;
  background-color: white;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #FF00FF;
}

header {
  background-color: lightgray;
  text-align: center;
  overflow: hidden;
  padding: 0 10px;

}
header p {
padding: 25px 15px 50px 15px;

}

.name {
color: #800080;
font-family: 'Dancing Script', cursive;
}
 h1,
 h2,
.portfolio,
h3 {
font-family: 'Shadows Into Light Two', cursive;
}

p, li {
font-family: 'Raleway', sans-serif;

}

ul {
list-style-type: none;
}

.container,
.container p {
padding: 5px 5px;
border: 5px 5px;


}

.container,
.main-footer {
background-color: lightgray;
}

/* .col {
margin:auto;
padding: 10px;

} */
img {
  max-width: 75%;
}


.main-footer {
border-top: dashed black 1px;
padding: 20px;
display: flex;
justify-content: space-between;
text-align: center;
}

.footer-nav {
display: none;
}

/* media queries */

@media (min-width: 768px) {
  .main-nav,
  .main-nav li {
  display: inline-block;
  border: none;
  color:inherit;
  }

  .nav li {
  padding: 5px 5px;
  margin: 0;
  background-color: lightgray;
  }

.portfolio,
.portfolio h2 {
padding: 25px 15px;

}

/* .header-container,
.header-container img {
 float: right;
 padding: 20px 15px;
} */

.col-marketing {
 float: left;
 width: 50%;

}
.col-search {
  float: right;
  width: 50%;
}

.col-travel {
 float: left;
 width: 50%;
}

.col-map {
float: right;
width: 50%;
}
.col-photo {
 float: left;
 width: 50%;
}

.col-calculator {
  float: right;
  width: 50%;
}

.container {
padding: 10px 10px;
margin-top: 15px;

}

.footer-container li {
display: none;

}

.footer-nav,
.footer-nav li {
  display:inline-block;
  padding: 10px 10px 10px 10px;
}

}

@media (min-width: 1024px) {
  .name {
  float:left;

  }
  .main-nav,
  .main-nav li {
  display: inline-block;
  float: right;
  border: none;
  color:inherit;
  }

  .nav li {
  padding: 5px 5px;
  margin: 0;
  float:right;
  background-color: lightgray;
  }


}


/* Clearfix */

.group::after {
content: "";
display: table;
clear: both;

}
