/* Base element styles */
* {
  box-sizing: border-box;
}

body {

}



.main-nav {
display:inline-block;

}


h1 {
font-family: 'Dancing Script', cursive;
}

h2 {
font-family: 'Shadows Into Light Two', cursive;
}

p {
font-family: 'Source Sans Pro', sans-serif;
}
ul {
list-style-type: none;
padding: 0;
Margin: 0;


}

}
img {
  width: 100%;
}
