/* Base element styles */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    background: white;

}
/* Link Styles */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #FF00FF;
}

/* Section Styles */

.main-nav {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav {
    display: block;
    margin-right: auto;
    color: black;
}
.nav li {
  padding: 5px 10px 10px 10px;
  border: solid 1px red;
  background-color: white;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #FF00FF;
}

header {
  text-align: center;
  overflow: hidden;
  padding-top: 25px;

}

h1,
h2 {
font-family: 'Dancing Script', cursive;
line-height: 1.6em;
}

h3 {
font-family: 'Shadows Into Light Two', cursive;
}

p, li {
font-family: 'Source Sans Pro', sans-serif;
padding: 10px;
margin: 10px;
}

ul {
list-style-type: none;
padding: 0;
Margin: 0;

}
.container {
background-color: blue;

}

img {
  max-width: 90%;
}

.main-footer {
display: inline-block;

}

.name,
.main-footer li {
float: right;
display: inline-block;

}
